body {
    background-color: #ffffcc;
}

table {
    width: 30%;
    border: 10px solid gold;
    text-align: center;
    font-weight: bolder;
    background-color: white;
}

td {
    height: 70px;
    border: 2px solid gold;
}

#id4, #id5, #id7, #id8 {
    background-color: orange;
}

#id6, #id9, #id10 {
    background-color: yellow;
}