* {
    margin: 0 auto;
    padding: 1px;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.container {
    width: 50%;
    background-color: white;
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: green;
    color: white;
    padding: 5px;
}