* {
    padding: 1px;
    box-sizing: border-box;
    margin: 0 auto;
}

table {
    border-color: white;
    border-collapse: collapse;
}

thead {
    background-color: #cccccc;
}

tfoot {
    background-color: #cccccc;
}